/* Header colors */
.gradient-green{
    background: linear-gradient(135deg, rgba(0, 255, 34, .5)0%, #111111 65%);
}

.gradient-orange{
    background: linear-gradient(135deg, rgba(241, 110, 22, 0.5)0%, #111111 65%);
}

.gradient-yellow{
    background: linear-gradient(135deg, rgba(247, 222, 5, 0.8)0%, #111111 65%);
}

.gradient-red{
    background: linear-gradient(135deg, rgba(252, 5, 5, 0.5)0%, #111111 65%);
}

.gradient-blue{
    background: linear-gradient(135deg, rgba(0, 60, 255, 0.5)0%, #111111 65%);
}

/* Game Paginas */
.card{
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #476add;
    border-width: 2px;
}

.no--margin{
    margin: 0px;
}

.no--margin-top{
    margin-top: 0px;
}

.card-bordercolor--green{
    border-color: #1071a8;
}



.card-text{
    font-size: 15px;
    line-height: 15px;
}

.btn-primary{
    background-color: #476add;
    border-color: #476add;
}
.background--black{ 
    background: #111111;
}


.hr--white{
    background-color: rgb(179, 179, 179);
}

.text-color--white{
    color: #e2dede;
}

.text-color--grey{
    color: grey;
}


.footer-font-size{
    font-size: 12px;
    text-align: center;
}

    .card-img-small{
        min-height: 36vw;
        max-height: 36vw;
        object-fit: fill;
    }
    
    .card-img-med{
        min-height: 45vw;
        max-height: 45vw;
        object-fit: fill;
    }
    
    .card-img-big{
        min-height: 45vw;
        max-height: 45vw;
        object-fit: fill;
    }

 @media (min-width: 768px) {
    .card-img-small{
        min-height: 20vw;
        max-height: 20vw;
        object-fit: fill;
    }
    
    .card-img-med{
        min-height: 18vw;
        max-height: 18vw;
        object-fit: fill;
    }
    
    .card-img-big{
        min-height: 20vw;
        max-height: 20vw;
        object-fit: fill;
    }
}

@media (min-width: 992px) {
    .card-img-small{
        min-height: 8vw;
        max-height: 8vw;
        object-fit: fill;
    }

    .card-img-med{
        min-height: 14vw;
        max-height: 14vw;
        object-fit: fill;
    }
    
    .card-img-big{
        min-height: 16vw;
        max-height: 16vw;
        object-fit: fill;
    }
}